@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 320px;
  height: 500px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

:root {
  --bg-primary: #e8ecf0;
  --bg-secondary: #ffffff;
  --bg-toggle: #d9d9d9;
  --bg-timer: #ffffff;
  --bg-button: #0f172a;
  --bg-toggle-active: #1e293b;
  --toggle-pos: 1px;
  --bg-play-btn: #d9d9d9;
  --bg-primary-time: #b4aeae;

  --text-primary: #111827;
  --text-secondary: #64748b;
  --text-muted: #94a3b8;

  --toggle-track-off: #1e293b;
  --toggle-track-on: #3b82f6;
  --toggle-thumb: #ffffff;

  --settings-card-bg: #d9d9d9; /* Світлий фон карток */
  --move-to-bg: #0f172a;
  --settings-text: #111827; /* Чорний текст */
  --interval-default-bg: #e8ecf0; /* Фон кнопок (невибрані) */
  --interval-selected-bg: #b4aeae; /* Фон кнопок (вибрані) */

  /* Toggles для Alerts (увімкнені) */
  --toggle-alerts-on-bg: #8ebc78; /* Зелений фон */
  --toggle-alerts-off-bg: #ffffff; /* білий фон */
  --toggle-alerts-thumb: #000000; /* Чорний thumb */
  --toggle-alerts-pos: 32px; /* Thumb праворуч */

  /* Toggle для Auto-restart (вимкнений) */
  --toggle-restart-on-bg: #be9d9d;
  --toggle-restart-off-bg: #ffffff;
  --toggle-restart-pos: 2px; /* Thumb ліворуч */
}

[data-theme="dark"] {
  --bg-primary: #020617;
  --bg-secondary: #0f172a;
  --bg-toggle: #0f172a;
  --bg-timer: #1e293b;
  --text-secondary: #f1f5f9;
  --bg-button: #1e293b;
  --bg-toggle-active: #3b82f6;
  --toggle-pos: 21px;
  --bg-play-btn: #7d7272;
  --bg-primary-time: #665c5c;

  --text-primary: #f1f5f9;
  --text-muted: #64748b;

  --toggle-track-off: #334155;
  --toggle-track-on: #3b82f6;
  --toggle-thumb: #ffffff;

  /* ✅ Нові variables для Settings екрану (темна тема) */
  --move-to-bg: #1e293b;
  --settings-card-bg: #1e293b; /* Темно-сірий фон карток */
  --settings-text: #ffffff; /* Білий текст */
  --interval-default-bg: #4b5563; /* Темний фон кнопок (невибрані) */
  --interval-selected-bg: #665c5c; /* Темний фон кнопок (вибрані) */

  /* Toggles для Alerts (увімкнені) - БЕЗ ЗМІН */
  --toggle-alerts-on-bg: #8ebc78; /* Зелений (БЕЗ ЗМІН) */
  --toggle-alerts-off-bg: #ffffff; /* Білий (БЕЗ ЗМІН) */
  --toggle-alerts-thumb: #000000; /* Чорний thumb */
  --toggle-alerts-pos: 32px; /* Праворуч */

  /* Toggle для Auto-restart (вимкнений) */
  --toggle-restart-on-bg: #be9d9d;
  --toggle-restart-off-bg: #ffffff;
  --toggle-restart-pos: 2px; /* Ліворуч */
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-theme="dark"] .settings-icon {
  filter: brightness(0) invert(1);
}

[data-theme="dark"] .alert-icon {
  filter: brightness(0) invert(1);
}
